.credential-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid rgb(202, 210, 214);
}

.seen-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(202, 210, 214);
  font-size: 1.1rem;
}
