.footer {
  display: flex;
  justify-content: space-between;

  color: rgb(157, 157, 157);
  font-size: 0.9rem;
}

.footer-right {
  display: flex;
  column-gap: 30px;
}

.footer-right > * {
  cursor: pointer;
}
