.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--text-1-color-accent);
  font-size: 1.7rem;
}

.links {
  list-style: none;

  display: flex;
  column-gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--text-1-color-accent);
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: color 0.2s;
}

.link:hover {
  color: var(--text-1-color-accent-hover);
}

.link--btn {
  padding: 10px 15px;
  background-color: var(--btn-1-accent);
  transition: background-color 0.2s;
  border-radius: var(--border-radius);
}

.link--btn:hover {
  background-color: var(--btn-1-accent-hover);
}
