@import url('./main/introduction.css');
@import url('./main/credential.css');
@import url('./main/how.css');

.main {
  background-color: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
