* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: rgb(238, 239, 243);
  --btn-1-accent: rgb(7, 143, 255);
  --btn-1-accent-hover: rgb(7, 115, 203);
  --text-1-color-accent: rgba(255, 255, 255, 0.8);
  --text-1-color-accent-hover: rgba(255, 255, 255, 1);
  --border-radius: 4px;
}

body {
  background-color: var(--background-color);
  font-family: Poppins, sans-serif;
}

#root {
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}

.bg {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: 0;
}

.header,
.main,
.footer {
  max-width: 1000px;
  margin: 20px auto;
  animation: fade-in 0.4s 0.2s backwards;
}
